#top {
	-fx-background-color: black;
}

#toplabel {
	-fx-font-family: "Sunrise International Demo";
}

#textLabel {
	-fx-font-family: "Moon Flower Bold";
	-fx-font-size: 20px;
}

.text-field {
	-fx-font-family: "RaiNgan";
	-fx-font-size: 20px;
}

.button {
	-fx-font-family: "Sunrise International Demo";
    -fx-font-size: 25px;
    -fx-background-color: rgb(255,213,0);
    -fx-text-fill: black;
}

#status {
	-fx-font-family: "Moon Flower Bold";
	-fx-font-size: 20px;
}

#bottomPane {
	-fx-background-color: rgb(255,213,0);
}